@page
@model YemekhaneStokTakipV2.Pages.UrunPages.IndexModel

@{
    ViewData["Title"] = "Ürün Listesi";
}

<h2 class="mb-3">📦 Ürün Listesi</h2>

<p>
    <a asp-page="Create" class="btn btn-success">
        + Yeni Ürün Ekle
    </a>
</p>

<table class="table table-bordered table-hover table-striped align-middle">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Urun[0].UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun[0].KategoriId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun[0].Birim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun[0].MevcutStok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun[0].KritikStok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun[0].Kategori)
            </th>
            <th style="width:250px;">İşlemler</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Urun)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UrunAdi)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.KategoriId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Birim)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MevcutStok)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.KritikStok)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Kategori)
                </td>

                <td>
                    <a asp-page="./Edit"
                       asp-route-id="@item.UrunId"
                       class="btn btn-warning btn-sm">
                        Düzenle
                    </a>

                    <a asp-page="./Details"
                       asp-route-id="@item.UrunId"
                       class="btn btn-info btn-sm text-white">
                        Detay
                    </a>

                    <a asp-page="./Delete"
                       asp-route-id="@item.UrunId"
                       class="btn btn-danger btn-sm">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>